{% extends 'blog/base.html' %}

{% block content %}
    <article class="post">
        <aside class="actions">
            <a class="btn btn-secondary" href="{% url 'post_edit' pk=post.pk %}">
                <span class="glyphicon glyphicon-edit"></span>
            </a>
            <a class="btn btn-default" href="{% url 'post_remove' pk=post.pk %}">
                <span class="glyphicon glyphicon-remove"></span>
            </a>
        </aside>
        {% if post.published_date %}
        <div class="date" style="color: #0c0101;"> <!-- Changed color of the published date -->
            Published: {{ post.published_date }}
        </div>
    {% else %}
            <a class="btn btn-default" href="{% url 'post_publish' pk=post.pk %}">Publish</a>
        {% endif %}
        <h2 style="font-size: 34px; color: #da1414;">{{ post.title }}</h2> <!-- Increased font size and changed color -->
        <p style="font-size: 28px; color: #140101;">{{ post.text|linebreaksbr }}</p> <!-- Increased font size and changed color -->
        <p style="font-size: 16px; color: #1a1616;">Author: {{ post.author.username }}</p> <!-- Increased font size and changed color -->
    </article>

    <a class="btn btn-default" href="{% url 'add_comment_to_post' pk=post.pk %}">Add comment</a>

    <hr>

    {% for comment in post.comments.all %}
        {% if user.is_authenticated or comment.approved_comment %}
            <div class="comment">
                <div class="date">
                    {{ comment.created_date }}
                    {% if not comment.approved_comment %}
                        <a class="btn btn-default" href="{% url 'comment_remove' pk=comment.pk %}">
                            {% include './icons/hand-thumbs-down.svg' %}
                        </a>
                        <a class="btn btn-default" href="{% url 'comment_approve' pk=comment.pk %}">
                            {% include './icons/hand-thumbs-up.svg' %}
                        </a>
                    {% endif %}
                </div>
                <strong style="font-size: 16px; color: #444;">{{ comment.author }}</strong> <!-- Increased font size and changed color -->
                <p style="font-size: 18px; color: #666;">{{ comment.text|linebreaks }}</p> <!-- Increased font size and changed color -->
            </div>
        {% endif %}
    {% empty %}
        <p>No comments here yet</p>
    {% endfor %}
{% endblock %}
